/* Navigation bar attribute*/
.navbar-brand{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    background-color: rgb(67, 139, 127);
    font-family: 'serif';
    font-size: 30px;
    font-weight: bold;
}

/* navbar attribute*/
.navbar{
    padding-top:0px;
    padding-bottom: 0px;
    padding-right:40px;
}

.dropdown-menu {
    margin: 0px;
}

/* header attribute*/
h1{
    color: rgb(81, 175, 160);
    font-family: serif;
    padding-top: 15px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: xx-large;
    font-weight: bold;
}

/* thumbnail image attribute*/
.img-thumbnail{
    padding:10px;
    border: none;
    float: left;
    height: 250px;
    width: 250px;
}

/* paragraph attribute*/
p{
   font-family: sans-serif;
   font-size: large;
   padding:10px;
}

/* page background attribute*/
body{
    background-color: rgba(238, 237, 237, 0.753);
}
.col-md-12{
    background-color: white;
    padding-top: 20px;
    padding-bottom:40px;
}

/* content attribute*/
.information {
    padding-bottom: 100px;
    padding-top: 50px;
    
}

/* Reducesed screen attributes*/
@media(max-width:767px){
    .navbar.bg-light{
        background-color: rgb(81, 175, 160)!important;    
    }

    .navbar-collapse{
        background-color: white;
    }
    .navbar{
        padding:inherit;
    }
}
